xsd/employees.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		  elementFormDefault="qualified">
	<!-- Root/Document element: employes -->
	<xs:element name="employees">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employee" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="age" type="xs:positiveInteger"/>
							<xs:element name="department" type="xs:string"/>
							<xs:element name="language" type="xs:string"/>
							<xs:element name="salary" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>